html{
  height: 100%;
}
body{
  animation: fadeIn 4s ease 0s 1 normal;
  -webkit-animation: fadeIn 4s ease 0s 1 normal;
  margin:0px 0px 100px 0px;
}
@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes fadeIn{
  0%{opacity: 0}
  100%{opacity: 1}
}

h1{
  position: absolute;
  z-index: 2;
  font-size: 80px;
  color: white;
  top:20%;
  left:auto;
}
.contents_top{
  margin: 0;
  height: auto;
  width: 100%;
  z-index: 1;
}



.gallery li{
  list-style: none;
}
.two{
  width: 70%;
  margin: 0 20% 0 15%;
}
.gallery li img{
  width: 100%;
  height: auto;
  float: left;
  margin: 30px;
  border-style:ridge;
  border-color:cadetblue;
  border-radius: 20% 10%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.gallery li img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer{
  text-align: center;
  position: fixed;
  bottom: -5%;
  width: 100%;
  height: 100px;
  background: white;
}